* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    background-color: grey;
    border-radius: 20px;
}

h2 {
    display: none;
    padding: 20px;
    color: red;
}

h2.active, p.active {
    display: block;
}

p {
    display: none;
    font-size: 30px;
    color: white;
}
